:root {
  --primary: #c75301;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #001f54;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #e4e2e2;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #8e8e8e;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 9%;
  background-color: #fff;
  width: 27rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 0.2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Bookmark */
#bookmark-button {
  position: relative;
}

#bookmark-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: #ff0000;
  border-radius: 6px;
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  right: -4px;
}

.bookmark {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 40rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 1s;
}

.bookmark.active {
  right: 0;
  background-color: rgba(1, 1, 1, 0.5);
}

.bookmark .bookmark-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.bookmark img {
  height: 3.5rem;
  /* border-radius: 50%; */
}

.bookmark h3 {
  font-size: 1.3rem;
  color: #dedede;
}

.bookmark .item-refrence {
  font-size: 1.2rem;
  color: #dedede;
}

.bookmark .download-item {
  position: absolute;
  right: 4rem;
  cursor: pointer;
  color: #dedede;
}

.bookmark .download-item:hover {
  color: var(--primary);
}

.bookmark .item-price {
  color: #fff;
  font-weight: lighter;
}

.bookmark .bookmark-item #add,
.bookmark .bookmark-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.bookmark .bookmark-item #add {
  background-color: green;
}

.bookmark .bookmark-item #remove {
  background-color: red;
}

.bookmark h4 {
  font-size: 1.5rem;
  margin-top: -1rem;
  text-align: center;
  color: #fff;
}

/* checkout form */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed #000;
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
  color: #fff;
}

.form-container input {
  background-color: rgb(221, 221, 221, 0.5);
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

.form-container .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 89%, rgba(0, 0, 0, 0));
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
} */
.hero .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  mask-image: url("../img/hero-mask.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  text-align: center;
  position: fixed;
  top: 200px;
}

.hero .content h1 {
  font-size: 5em;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.9rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

/* About Section */
.about,
.koleksi,
.products,
.contact {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.koleksi h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.about h2 span,
.koleksi h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

.about h5 {
  text-align: center;
  font-size: 1rem;
  margin-top: 2.5rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  mask-image: url("../img/koleksi/splash.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

.about .row .content h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Koleksi Section */
.koleksi .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.koleksi .koleksi-card {
  text-align: center;
  border: 1px solid #666666;
  padding: 2rem;
}

.koleksi .koleksi-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.koleksi .koleksi-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.koleksi .koleksi-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.koleksi .koleksi-image {
  padding: 1rem 0;
}

.koleksi .koleksi-image img {
  height: 25rem;
}

.koleksi .koleksi-content h3 {
  font-size: 2rem;
}

.koleksi .koleksi-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.koleksi .koleksi-stars .star-full {
  fill: rgb(255, 255, 0);
}

.koleksi .koleksi-refrence {
  font-size: 1.4rem;
  /* font-weight: bold; */
}

.koleksi .koleksi-price {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: lighter;
}

/* Products Section */
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.products p,
.contact p,
.koleksi p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.7;
}

.products .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.products .row .product-card {
  text-align: center;
  padding-bottom: 4rem;
}

.products .row .product-card img {
  border-radius: 50%;
  width: 80%;
}

.products .row .product-card .product-card-tittle {
  margin-top: 1rem auto 0.5rem;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #100f0e;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer Section */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials .instagram:hover {
  color: rgb(200, 0, 255);
}
footer .socials .twitter:hover {
  color: rgb(0, 106, 255);
}
footer .socials .facebook:hover {
  color: rgb(35, 35, 255);
}

footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.7rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  background-color: rgba(180, 180, 180, 0.933);
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
  color: var(--bg);
}

.modal-container .close-icon:hover {
  color: red;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 23.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 15rem;
  background-color: var(--bg);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 65.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    background-color: rgba(1, 1, 1, 0.5);
  }

  .navbar .navbar-nav a {
    color: #d5d2d2;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .menu p {
    font-size: 1.8rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
